* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
    outline: none;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #47aadd;
    background-image: linear-gradient(135deg, #47aadd, #3885ac);
    align-items: center;
    justify-content: center;
}

.app {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    width: 345px;
    height: 520px;
    background-color: #303235;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}